<div class="container">
  <div class="row">
    <div class="col-3 text-center">
      <div class="perfil__image">
        <img src="../../../assets/images/perfil.jpg" alt="Luciano Rodríguez" class="img-fluid">
      </div>
      <h1 class="perfil__name">Luciano Rodríguez</h1>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col">
      <h2>Información</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio cumque natus voluptatem eos, odit tenetur nam
        adipisci est. Officiis quaerat, in impedit culpa sint mollitia minima ipsa dicta cum consequatur?</p>
    </div>
  </div>
</div>
