<ul class="list-unstyled list-inline social">
  <li class="list-inline-item social__item"><a href="#" class="social__link"><fa-icon [icon]="faLinkedin"
        size="2x"></fa-icon></a>
  </li>
  <li class="list-inline-item social__item"><a href="#" class="social__link"><fa-icon [icon]="faGithub"
        size="2x"></fa-icon></a>
  </li>
  <li class="list-inline-item social__item"><a href="#" class="social__link"><fa-icon [icon]="faTwitter"
        size="2x"></fa-icon></a>
  </li>
  <li class="list-inline-item social__item"><a href="#" class="social__link"><fa-icon [icon]="faFacebook"
        size="2x"></fa-icon></a>
  </li>
  <li class="list-inline-item social__item"><a href="#" class="social__link"><fa-icon [icon]="faInstagram"
        size="2x"></fa-icon></a></li>
</ul>
