<figure class="figure logo">
  <div class="row">
    <div class="col">
      <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/images/logo-AP.png"
          class="figure-img img-fluid logo__img" alt="Argentina Programa 3.0" title="Argentina Programa 3.0"
          target="_blank"></a>
    </div>
    <div class="col">
      <figcaption class="figure-caption logo__caption">Argentina Programa<span
          class="logo__caption--sub">#YoProgramo</span>
      </figcaption>
    </div>
  </div>
</figure>
