<section class="container experience">
  <div class="row">
    <div class="col">
      <h2>Experiencia</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="../../../assets/images/no-experience.png" alt="Experience">
    </div>
    <div class="col-6">
      <h3>Experiencia 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero veniam pariatur sed, ad autem quidem
        excepturi consequuntur dicta commodi soluta alias nobis optio enim consectetur quisquam assumenda ducimus
        obcaecati!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="../../../assets/images/no-experience.png" alt="Experience">
    </div>
    <div class="col-6">
      <h3>Experiencia 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero veniam pariatur sed, ad autem quidem
        excepturi consequuntur dicta commodi soluta alias nobis optio enim consectetur quisquam assumenda ducimus
        obcaecati!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="../../../assets/images/no-experience.png" alt="Experience">
    </div>
    <div class="col-6">
      <h3>Experiencia 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero veniam pariatur sed, ad autem quidem
        excepturi consequuntur dicta commodi soluta alias nobis optio enim consectetur quisquam assumenda ducimus
        obcaecati!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="../../../assets/images/no-experience.png" alt="Experience">
    </div>
    <div class="col-6">
      <h3>Experiencia 4</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero veniam pariatur sed, ad autem quidem
        excepturi consequuntur dicta commodi soluta alias nobis optio enim consectetur quisquam assumenda ducimus
        obcaecati!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="../../../assets/images/no-experience.png" alt="Experience">
    </div>
    <div class="col-6">
      <h3>Experiencia 5</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero veniam pariatur sed, ad autem quidem
        excepturi consequuntur dicta commodi soluta alias nobis optio enim consectetur quisquam assumenda ducimus
        obcaecati!</p>
    </div>
  </div>
</section>
